<div id="main">
  <p class="titulo">Notas de {{ escopoNotas() }}</p>
  <table width="100%;" style="text-align: center">
    <tbody>
      <tr>
        <td>
          <form id="form1" [formGroup]="formNota">
            <textarea
              cols="41"
              rows="4"
              maxlength="2000"
              style="width: 100%"
              placeholder="Digite sua nota de até 2000 caracteres"
              formControlName="textoNota"
            ></textarea>
          </form>
        </td>
      </tr>
      <tr>
        <td style="text-align: center">
          <button
            type="button"
            class="btn"
            [disabled]="formNota.invalid"
            form="form1"
            (click)="editando() ? alterar() : incluir()"
          >
            {{ editando() ? "Alterar" : "Incluir" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <table style="width: 100%">
    <thead>
      <tr>
        <td class="tr"><b>Histórico de notas</b></td>
        <td class="tr"><b>Data de Registro</b></td>
        @if(escopoNotas() !== 'NM') {
        <td class="tr" style="width: 25%"><b>Autor</b></td>
        } @if(mostrarBotoes()) {
        <td class="tr" style="width: 1%"></td>
        }
      </tr>
    </thead>
    <tbody>
      @for(nota of servicoNotas.Notas(); track nota.id) {
      <tr
        [className]="$odd ? 'tr' : ''"
        app-nota
        [nota]="nota"
        [mostrarBotoes]="mostrarBotoes()"
        [escopoNota]="escopoNotas()"
        (aoEditarNota)="aoEditarNota(nota)"
        [editando]="editando()"
      ></tr>
      }
    </tbody>
  </table>
</div>
