<table style="text-align: center; width: 100%">
  <thead>
    <tr>
      <th style="text-align: left; width: 5%">
        <input type="checkbox" />Todos
      </th>
      <th style="text-align: left; width: 25%">Documentos</th>
      <th style="text-align: center; width: 10%">Cópia Simples</th>
      <th style="text-align: center; width: 10%">Abrir Documento</th>
      <th style="text-align: center; width: 10%">Palavras-chave</th>
    </tr>
  </thead>
  <tbody>
    @for(documento of documentos(); track documento.id) {
    <tr [className]="$odd ? 'tr' : ''">
      <app-documento [documento]="documento" />
    </tr>
    }
  </tbody>
</table>
@if(contador() > 0) {
<app-botao-copiar />
}
